apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: nginx
image: ghcr.io/yatishg17/argo2/nginx:dc61abf92eb794044774ef6b6f48bf0a76be8105
          ports:
            - containerPort: 80